[2019-01-10 08:30] nesnoj opened #2 "Smarter way to pass layer data to template"
Currently, multiple ways exist to feed layer data into the template:
1. URL for data: `name` from context `layer_data['layer_list']`(leads to same loading-related ajax code for each layer, only name, title and show differ)
-> alternative: pass data via MapView's context (and include it using [django-geojson's template tags](https://django-geojson.readthedocs.io/en/latest/views.html#geojson-templat

[2019-02-12 10:10] nesnoj opened #6 "enabled layers not shown on startup"
Thanks for the beautifully colored map!

I stumbled across one issue after the choropleth merge:
On startup of the app, no layer is shown, even if it is set to `show = 1` and therefore enabled in the layer tab.
Could you please fix this? You can do it directly in dev...

[2019-02-12 10:20] 4lm commented on #6
Hi @nesnoj,

should be fixed in the other pull-request #5, you merged right now.

Regards,
Alexis

[2019-02-12 10:21] 4lm commented on #6
Ah interesting,

its not OK in dev but in my branches, I will have a deeper look.

Regards,
Alexis

[2019-02-12 10:24] nesnoj commented on #6
Thanks.
The merge was rather complicated, I hope I didn't mess things up...

[2019-02-12 12:47] 4lm commented on #6
Should be fixed now!

[2019-02-12 13:26] nesnoj commented on #6
Cheers!

[2019-02-12 13:26] #6 closed

[2019-02-14 10:10] 4lm opened #7 "Refactor map.html to use as little templating logic in the JS part as possible"
This commit replaced some JavaScript (JS) logic with the Django templating logic from a previous code state. It was a quick, working solution, which didn't change the end result, but recoupled the Django templating logic with the JS code: https://github.com/rl-institut/WAM_APP_stemp_abw/pull/5/commits/b7f6c9d0fd5659eb2c4888a9bc31961f72f905bf

As @nesnoj noted should we refactor map.html to use as

[2019-02-14 17:48] 4lm opened #9 "Can't load highcharts"
Hi @nesnoj and @henhuy,

I tried to load the highcharts  "visualizations1" and "visualizations2" from the context in map.html, which are initialized in the class MapView() in __init__.py in stemp_abw/views/__init__.py

In each case, I get three HTML elements (with the content: "Loading...."), but no charts:

- visualizations1:
[code]
- visualizations2:
[code]
I tried to implement the highcharts in

[2019-02-14 23:02] nesnoj commented on #9
I'll have a look tomorrow..

[2019-02-18 07:37] henhuy commented on #9
You have to add `{{v.media}}` (containing the JS) below your `foundation.app.js`

[2019-02-19 09:57] 4lm commented on #9
Yes, adding {{v.media}} worked! Many thanks!

[2019-02-19 11:57] nesnoj commented on #9
Great.
Due to the API update, the result highcharts are currently not loaded.
Therefore I reopen the issue, and I will take care of this later.

Last working WAM version with old API: 62a2b99701cc5418b088bf1b043c0ebbbca40755

[2019-02-23 09:44] nesnoj opened #10 "Recent changes"
Hey @4lm,

I implemented several changes which I just merged to `dev`.
A quick overview:

1. Allow for several table lists (first and last panel). This affected a lot of stuff, e.g. forms, widgets, templates, JS and CSS. As there will be well-known, defined number of those lists and due to lack of time, I implemented this in a quite non-generic way.
2. New models (a recent dump is located in your

[2019-02-23 09:45] nesnoj opened #11 "Same layer is loaded multiple times"
After having implemented the use of same proxy model for several layers (#10), the identical layer data is loaded multiple times - one time for each layer although only one property is used for the actual map.

This could be fixed by storing the raw serial data obtained from URL `stemp_abw/...*.data` at first access and load them for the rest of layers from a variable instead of reloading. A chall

[2019-02-23 09:46] nesnoj opened #12 "Choropleth: add additional value for entire region"
Currently, a choropleth map shows information for each model entry (municipality).
It'd be great to have the same information for the entire region not displayed in the map but as number maybe just above the legend.

Pitfall: It's not always possible to just take the average of all regions as the single values are not weighted. You can take region layer "Anteil Energie aus EE an Strombedarf" as ex

[2019-02-23 09:46] nesnoj opened #13 "Map layers clickable while loading"
During loading process, map layers that are already loaded can be accessed/clicked which should be prevented.

[2019-02-23 09:53] nesnoj opened #14 "Choropleth: Legend vanishes if another layer selected and unselected"
Try this:
1. Select a choropleth layer -> layer and legend is shown
2. Select another choropleth layer -> layer is shown (1st one is overlain but still visible) and legend is shown (1st one is removed)
3. Deselect 2nd layer -> 1st layer is shown again as expected but the **legend completely vanishes**

Could you please try to fix this?

[2019-02-26 09:34] 4lm commented on #11
Hi @nesnoj, yes, I also think, it's a low priority task.

[2019-02-26 15:13] 4lm commented on #10
Nice, especially, that we can also now dynamically create values from other tables, e.g.:

[code]

[2019-02-26 15:14] 4lm commented on #10
Yes, I also don't see large problems here.

[2019-02-26 16:35] 4lm commented on #14
Hi @nesnoj,

right now, the logic is, that if you are switching on a choropleth map on, any other legend of any other active choropleth map is removed. Yes, you're right, that's not a nice behavior and should be fixed. I think there is an easier and a harder way.

1. Easier: only one choropleth map at once is allowed. If the user clicks on one choropleth map an previous active choropleth map will

[2019-02-27 16:28] nesnoj commented on #14
Thanks for the detailed answer, I think the first, easy solution is appropriate.
As the other open tasks are way more important, I propose to leave it for now and create a fix around mid of March..

[2019-03-01 13:34] nesnoj commented on #9
Solved in #17

[2019-03-01 13:34] #9 closed

[2019-03-07 10:19] nesnoj opened #18 "HC in popup fixed, but sporadic JS error"
I found the error why the HCs are not loaded:

The problem was, that you were using the same visualizations in popups as well as in the results. Hence, you always have 2 DIVs with the same id (e.g. "hc_3") for each vis. The JS code is subsequently applied to the 2nd DIV instead of (as intended) to the 1st one.
If you delete the result HCs, it works. I created a commit in [your branch](https://gith

[2019-03-12 09:29] 4lm commented on #18
Hi @nesnoj,

thank you for the fix and the explanation! I will have a look at it.

Yes, the behavior of the bug (1st click doesn't work -> HC params empty, 2nd does -> JS correct) seems odd. I will also have a look at it as well.

[2019-03-13 17:05] nesnoj opened #21 "Test with different browsers"
Tool should be tested with different browsers including outdated versions. Based upon the findings, we should make a minimum version compulsory for each browser.

Pay special attention to the loading problems of highcharts which were solved by setting a timeout, cf.
#17
#18
#19

[2019-03-13 17:08] nesnoj commented on #18
Solved via #19

[2019-03-13 17:08] #18 closed

[2019-03-13 17:09] #10 closed

[2019-03-13 17:15] nesnoj commented on #14
Fixed by #20

[2019-03-13 17:15] #14 closed

[2019-03-14 09:24] 4lm commented on #21
Yes, good idea, we then also could/should check for the height of the Highcharts (HC) in the popups, which may break under certain conditions, as you also mentioned in https://github.com/rl-institut/WAM_APP_stemp_abw/pull/19#pullrequestreview-214091088. We additionally could check it by also simulating devices with different pixel densities.

[2019-03-14 11:33] nesnoj opened #22 "Add more charts"
I'd like some more chart types in the tool. Could you please take care of this @4lm?

The most important is a pie chart, I'll add more types later to this issue.
Some time ago I created a simple skeleton, I pushed it to a new feature branch where you can continue if you like to:
https://github.com/rl-institut/WAM_APP_stemp_abw/tree/feature/add_more_charts

The chart type demos incl. code can be fo

[2019-03-14 14:35] 4lm commented on #22
Hi @nesnoj, as spoken via Email I will take care of adding more charts. The first will be the PieChart. For doing so, I will continue to work on your feature branch: https://github.com/rl-institut/WAM_APP_stemp_abw/tree/feature/add_more_charts

[2019-03-14 16:15] nesnoj commented on #22
Ok, here comes my wishlist.
As it is quite extensive, therefore I've put priorities beside (3=high...1=low).

- [Timeseries zoomable](https://www.highcharts.com/demo/line-time-series) (3)
- [Stacked area](https://www.highcharts.com/demo/area-stacked) (3)
- [Percentage area](https://www.highcharts.com/demo/area-stacked-percent) (2)
- [Stacked column](https://www.highcharts.com/demo/column-stacked)

[2019-03-17 10:08] nesnoj commented on #22
As written in the mail today, I made some adjustments to WAM's highcharts:
https://github.com/rl-institut/WAM/pull/19

I changed our [branch](https://github.com/rl-institut/WAM_APP_stemp_abw/tree/feature/add_more_charts) accordingly, added pie charts in the popups & results and fixed the options.

It was quite a pain to adjust the data format to be in accordance to the expected depending on the ch

[2019-03-19 10:38] nesnoj commented on #22
Here comes the first 3 charts I'd like to have in the popup per layer:

**Layer: reg_mun_pop**
- description: Bevölkerungentwicklung (Prognose)
- type: line
- unit: capita
- data:
  - MunData.pop_2017
  - MunData.pop_2030
  - MunData.pop_2050

**Layer: reg_mun_energy_re_el_dem_share**
- description: Anteil Energie aus EE an Strombedarf nach Quelle
- type: pie
- unit: %
- data:
  - MunData.gen_el_e

[2019-03-19 10:46] 4lm commented on #22
Update, @nesnoj and I introduced prio 4 for the creation of the highcharts types:

Stacked column (4)
Stacked and grouped column (4)
Solid gauge (4)

[2019-03-20 11:03] 4lm commented on #22
Hi @nesnoj,

as spoken on the phone a few minutes ago, I pushed some charts labels data and integrated an example for three stacked, grouped, column charts. So that you can give it some love and make our charts groupable via stack param :)

- It's on branch feature/add_more_charts: https://github.com/rl-institut/WAM_APP_stemp_abw/tree/feature/add_more_charts

- Depends on following commits:
-- Add

[2019-03-20 11:06] 4lm commented on #22
I will now try to integrate solid gauge charts.

[2019-03-20 13:54] 4lm commented on #22
Hi @nesnoj,

TL;DR: Looks like python-highcharts, the wrapper around highcharts.js we are using didn't implement the solidgauge chart types from highcharts.js. Will drop the work on solid gauge charts now and try to implement the concret charts for the popup layer: https://github.com/rl-institut/WAM_APP_stemp_abw/issues/22#issuecomment-474297876

Full picture:

I tried to implement the solidgauge

[2019-03-20 15:02] nesnoj commented on #22
That's a pity, I'd have liked to use the gauge - we may get back to this later.
Ok, go for the specific charts. Do you think there will be time left today after you'll have finished this?

[2019-03-20 15:27] henhuy commented on #22
I had the same problem for some other attributes.
That is the reason why I forked the repo - to implement a workaround and to add needed attributes...
We can figure out later what solution fits our needs best.

[2019-03-21 01:27] nesnoj commented on #22
@4lm, I fixed the "2 requests => 2 different HC DIVs" problem in 2a11035a0faf33715cf75f05d6afac0c551794df
It's bloody dirty but works.

If you got some spare time, go ahead ;)

[2019-03-21 08:01] nesnoj commented on #22
Some small modifications eb75da12b84f3e8b8c96d25a5e8783011a0cb729. I still don't really like this solution but it's the only way right now.
There were 3 line graphs instead of 1 in the HC, therefore I changed the data but now it's displayed in the wrong dimension - can be easily fixed.

[2019-03-21 11:04] 4lm commented on #22
Done: 6fea22ff31f7dc8bb275d56edb290e65daa485a6

[2019-03-21 11:06] 4lm commented on #22
Will now (after lunch) add the other charts: https://github.com/rl-institut/WAM_APP_stemp_abw/issues/22#issuecomment-474297876

[2019-03-21 16:26] nesnoj commented on #22
Ok, I added more charts above https://github.com/rl-institut/WAM_APP_stemp_abw/issues/22#issuecomment-474297876

[2019-03-21 18:58] 4lm commented on #22
Done with all the popup charts from https://github.com/rl-institut/WAM_APP_stemp_abw/issues/22#issuecomment-474297876

[2019-03-21 21:55] nesnoj commented on #22
Thanks a lot! :rocket:

[2019-03-22 08:58] nesnoj commented on #22
Strangely, in many chart popups there's a legend for entries with little share but none for the one with the largest share, e.g.:
![stemp_app_abw-popup_chart_legend_bug](https://user-images.githubusercontent.com/15910173/54811272-9b85a100-4c88-11e9-8cf9-6752174209f2.png)

Also, the chart could be larger to make it more legible. Maybe the first issue is caused by the small size?

[2019-03-22 16:04] nesnoj opened #23 "Include repowering scenario in UUID"
To consider repowering settings

[2019-03-28 09:14] nesnoj commented on #21
This task is crucial, as (at least for 1 participant) the loading of layers didn't work with IE :(

[2019-03-28 09:21] nesnoj commented on #21
Also, take screen resolution into account and define minimum (in WS some users had problems here).
Raise warning on landing page if browser version too old or resolution too small.

[2019-03-28 10:46] 4lm opened #25 "Infobox behind panel"
Hi @nesnoj,

I pulled the new version (dev branch) and integrated the db dump, it works and looks very nice - yay!

I also found a behavior which wasn't not observed before, the infoboxes are now behind the panel, see following image:

![image](https://user-images.githubusercontent.com/3404313/55151552-c8d1c380-514e-11e9-9ff6-34ae6dbdb4d7.png)

Is this behavior maybe fixed in the feature/simulatio

[2019-03-28 10:55] 4lm commented on #22
Hi @nesnoj,

yes you are right, the styling of popups and charts are not optimal, as spoken on the phone, I will work on this today:

- Solve the size issue of the charts (in general, make them bigger).
- See if I can get labels in the bigger pie pieces, because I think that the bigger pie pieces should be labeled inside the piece and only smaller pieces should be labeled from outside. I will have

[2019-03-28 11:31] nesnoj commented on #25
Uh, that's odd. I do not I have this problem nor the participants of yesterday's workshop.

This is the z-indices list of special elements:

| class/id | what is it | z-index |
| ------------- | ------------- | ----- |
|.top-bar|top menu|999999999999999999|
|**.tooltip**|**tooltip**|**99999999999999999**|
|.loader-wrapper|overlay while loading|9999999999999999|
|.reveal-overlay|popup (non-leaflet)

[2019-03-28 11:35] nesnoj commented on #25
In my browser it says 99999999999999999 which is the correct value.
Could you please lookup this in your browser?

[2019-03-28 11:39] nesnoj commented on #22
Yepp, sounds good.
BTW, I will ask @Stefanie08 to start integrating the sources by next week

[2019-03-28 11:52] nesnoj commented on #22
One more thing: The columns in the column bar chart in layer "Anteil Energie aus EE an Strombedarf" do not show up, this is probably also related to the y-scaling problem discussed above.

[2019-03-28 12:00] nesnoj commented on #25
I changed the order in https://github.com/rl-institut/WAM_APP_stemp_abw/tree/fix/z-index-order-25 like this:

| class/id | what is it | z-index |
| ------------- | ------------- | ----- |
|.loader-wrapper|overlay while loading|999999999|
|.top-bar|top menu|99999999|
|**.tooltip**|**tooltip**|**9999999**|
|.reveal-overlay|popup (non-leaflet)|9999999|
|**.off-canvas-wrapper**|**left panel menu**|**9

[2019-03-28 13:35] 4lm commented on #22
So, I pushed 72eae79e1316b4a237c6869ba0489454011fa412 onto the feature/add_more_charts branch.

I tested:

- 2-column popups -> Doesn't look good, because popups look extra-wide, but still have to be relatively wide to fit the pie chart properly and also the flow of looking at the chart is disturbed, because the eyes won't to go either left to right or top to bottom, but at least I have to problem

[2019-03-28 13:52] 4lm commented on #25
Mhhh,

I'm confused! It's working now, without pulling your fix:

![image](https://user-images.githubusercontent.com/3404313/55162316-d778a480-5167-11e9-999e-a56252427bbb.png)

I'm sorry for this false positiv and therefore the extra work you put into this issue, it looked like a bug to me, maybe it was a caching issue?

What do you think? Shall I still pull the fix commit (fix/z-index-order-25),

[2019-03-28 13:56] 4lm commented on #22
I will now start to integrate sources and assumptions.

[2019-03-28 15:44] 4lm commented on #22
I added sources via an ID list in the layer config files (layers_areas.cfg, layers_region.cfg). It's working, but what I don't like is that the naming is numerical yet (e. g. "1, 2, 3,...") and therefore not descriptive enough. I have to go earlier today. Next week I will implement descriptive naming by taking the names for the sources in the popups directly from the meta-JSON in the database. My

[2019-03-29 07:58] nesnoj commented on #25
No worries, this had to be done anyway. I merged the fix.

[2019-03-29 07:58] #25 closed

[2019-03-29 08:37] nesnoj commented on #22
I created a RM ticket on the layout for @bmlancien.

Concerning the source list format, you do not have to reinvent the wheel. Just use a similar [template](https://github.com/rl-institut/WAM/blob/master/meta/templates/meta/source_list.html) to the WAM's. @henhuy used jmespath in a [property dec in the source model](https://github.com/rl-institut/WAM/blob/117ac37ddea943fca23a2da74012807bc2a0a2e2/m

[2019-04-02 16:03] 4lm opened #26 "Layer Map isn't reloaded properly after going back from sources"
Hi @nesnoj,

as discussed after clicking on a source in a popup the user lands on the source page, after going back to the map via the browser back button, the layer of the popup is toggled on in the panel but the layer is not active in the map.

As spoken, maybe we find a solution where the state of the layers and panel switches is preserved.

[2019-04-02 16:09] 4lm commented on #22
As spoken, sources can now be added by @Stefanie08 in the database and declared in the config files. If the value in the config file is 0, the sources section is hidden. Right now the backend-user who does do the data entry doesn't have an easy way to look up the database IDs of the sources entries, which have to be entered into the database. Therefore I will overwrite the string representation of

[2019-04-02 16:23] 4lm commented on #22
OK, after speaking to @nesnoj I wil not do this. Because @Stefanie08 is doing the sources entries in the database and @nesnoj is doing the sources dispatching in the config files.

[2019-04-05 13:30] nesnoj commented on #26
I see 2 solutions here:
1. Restore the previous state using sessions' scenario where most input values are stored. The challenging part are the dynamic results.
2. Embed the sources page in an overlay, e.g. popup

The 2nd one is way easier to implement, but let's get back to this later.

[2019-04-16 11:28] 4lm commented on #22
Hi @nesnoj,

I will close this issue, which became IMO to overloaded (also a lot of the topics are worked of and already merged to dev) and will open two new ones which are more specific:

- https://github.com/rl-institut/WAM_APP_stemp_abw/tree/feature/style-popup - I will open a new issue on this topic and also want to further talk with @bmlancien how to further improve the popup styling. We alre

[2019-04-16 11:44] 4lm opened #28 "Style popups"
Hi @bmlancien and @nesnoj,

as mentioned in #22 I opened this more specific issue to talk about how to style the popups further:

Right now the popups take their styles from the baked app.css and the leaflet.css. Because of this it's a style mixture.

@bmlancien and I already included some Foundation classes into the popup's HTML structure to be able to add some specific Foundation styles.

Right

[2019-04-16 11:47] 4lm commented on #28
I opened a branch for the work on this: https://github.com/rl-institut/WAM_APP_stemp_abw/tree/feature/style-popup

[2019-04-16 11:54] 4lm opened #29 "Refactor and document popup-related code"
Hi @nesnoj,

as mentioned in #22 in this issue I wan't to discuss which popup-related code to refactor and to further document.

For the work on this I opened a branch: https://github.com/rl-institut/WAM_APP_stemp_abw/tree/feature/refactor-document-popup-related-code

First, I will refactor and document the code (and related code) in views/detail_views.py - I think this is necessary, because the c

[2019-04-18 20:54] nesnoj commented on #29
I appreciate that!
The code is...a "slightly" redundant. Do you plan to make it more generic?

[2019-04-23 08:27] 4lm commented on #29
Yes, I'm about to refactor views/detail_views.py. I did first steps in this direction last week and will try to further refactor the use of classes in views/detail_views.py to make it more generic.

[2019-04-23 16:06] 4lm commented on #29
Hi @nesnoj,

the refactoring of popup-related code is pretty much done, now:

- each popup with a chart has 1 corresponding view class instead of 3 view classes. Ergo, every detail view consists of one single class now.
- all URL patterns in urls.py are generic now (especially for HTML and for JS popup views)
- there is no whitelist in map_functions.js anymore. The choice whether a popup uses a ch

[2019-04-30 07:42] nesnoj opened #30 "Documentation on RTD"
An important milestone are the app docs.
I created a structural draft in branch [`add-sphinx-docs`](https://github.com/rl-institut/WAM_APP_stemp_abw/tree/add-sphinx-docs) and added it to RTD: https://stemp-abw.readthedocs.io , feel free to amend!

**API docs**
There're some problems with the API docs that need to be solved, see https://github.com/rl-institut/WAM/issues/47.
Also, we must come to a

[2019-04-30 13:46] 4lm commented on #28
Hi @bmlancien. I have spoken to @nesnoj and we decided that I will work on the popup CSS styling concerning the popups using the given CSS workflow. So no need that you get involved at this point (maybe I have questions later on). I will start the work now.

[2019-05-07 05:07] nesnoj commented on #30
JS API docs should be included too, [sphinx-js](https://pypi.org/project/sphinx-js/) seems to be appropriate here..

[2019-05-07 13:05] 4lm commented on #29
Pull request is merged, will close this issue!

[2019-05-07 13:05] #29 closed

[2019-05-07 13:28] 4lm commented on #30
sphinx-js looks nice! I also just added German spell checking to Pycharm.

- [a good way seems](https://intellij-support.jetbrains.com/hc/en-us/community/posts/360000123930-German-Spell-Checker-dictionary) to just download a .dic file: http://www.winedt.org/dict.html (I downloaded "German (new sp)")
- then unzip and load in `File > Settings > Editor > Spelling`

Worked for me!

[2019-05-09 15:06] nesnoj commented on #22
@4lm, short question:
You don't use `charts_data.py` or `results.py` in the popups' HC, right?

[2019-05-09 16:15] 4lm commented on #22
@nesnoj, right! I used them for testing purposes and they should not be linked with the popups' HC any more! It should be safe to delete `charts_data.py` and rewrite `results.py` to fit your needs ...

[2019-05-09 16:21] nesnoj opened #34 "Add data versioning"
For future releases, a versioning would be helpful for
- static data (spatial, temporal, assumptions)
- scenarios incl. data
- results (UUID is in place to check if results already exist to avoid redundant simulations)

as updated data (formats) could either break the tool, falsify results or at least make features like UUID useless.

[2019-05-09 16:23] nesnoj commented on #22
Great, as I will start to refactor the results part now..

[2019-05-10 12:58] nesnoj commented on #30
Regardless of your warning, I added some stuff to the dev part.
Not sure if the [graphviz extension](https://build-me-the-docs-please.readthedocs.io/en/latest/Using_Sphinx/UsingGraphicsAndDiagramsInSphinx.html) is the way to go but worth testing..

[2019-05-10 15:27] nesnoj opened #35 "Improve error handling"
Currently, if an exception is raised during execution, the tool will break.

Handle possible errors by
- displaying a meaningful message in UI
- restarting session if required
- optimal: report to admin

Also, consider JS errors.

[2019-05-13 07:54] nesnoj opened #36 "Result highcharts"
Result HCs (panel Ergebnisse) are to be filled with real data asap.
Currently, the HC's content is fed into the template as follows:
- DIV: via context (dynamic ID `hc_<AUTO INCREMENTED ID>` according to WAM's HC)
- JS: via context

As results are dynamically created (after optimization) a different approach is needed.
Idea:
- create result HCs on startup with predefinded div id (override auto-ID-

[2019-05-14 07:42] nesnoj commented on #36
After talking to @4lm I will implement it as described above.

Gonna use a serial view for results which returns null if there're none (e.g. when scenario is changed and simulation not run yet). Results are checked as soon as results panel is expanded. If available: Update HC data, If not, data is retained and overlay is shown.

Todo: As we're up to insert result layers in the map, the firing even

[2019-05-14 09:39] 4lm commented on #30
No problem :) iPull

[2019-05-14 12:18] nesnoj commented on #22
As discussed the the last WAM meeting, it seems that for future apps we will switch to plotly as it can be used for commercial apps (contrary to highcharts) and the integration seems to be way easier (and we got @Bachibouzouk as plotly pro ;) .

@4lm Nevertheless, could you spare some minutes to estimate how long it'd take to add a new chart type to python-highcharts, e.g. the gauge?

[2019-05-14 12:41] 4lm commented on #22
Hi @nesnoj, right now I'm working in REEEM, later this day I will have a closer look at it and will try to give you an estimate ...

[2019-05-14 16:04] 4lm commented on #22
A lot of traffic here :wink:, I'm reopening this issue!

[2019-05-14 18:19] 4lm commented on #22
Hi @nesnoj,

I had a look at the [python-wrapper for highcharts](https://github.com/henhuy/python-highcharts), it looks generic (so new chart types should be addable to the existing code base without rewriting the whole thing). But the code lacks developer documentation for adding further charts, it only has usage examples.

Right now I can't really guess how long it would take, a wild guess would

[2019-05-15 04:20] nesnoj commented on #22
Uh, that seems to be a lot of wasted time... let's talk later today

[2019-05-16 00:04] nesnoj commented on #35
- [ ] UI error message
  - [x] implemented in 6cad150f0ecf59b80b962df05cd055ce27cf2475
  - [ ] add more triggers
  - [ ] allow for custom message (session not found, program error, ...)
  - [ ] add button for app restart (page refresh)
- [ ] Write log
- [ ] Report error to admin

[2019-05-16 01:14] nesnoj commented on #28
@4lm The charts in popups look good! To achieve this, you've added a new `CUSTOM_RLI_THEME` for all charts. But now the result charts aren't properly styled anymore regarding
- design (font size etc.)
- number formats and legends

We should use different themes depending on where it is used.
I disabled it temporarily in 1ed319e0abb55e40b2bddd3ff5ef4b7da4be4d5a.

[2019-05-16 13:26] nesnoj opened #37 "Beta on WAMprod"
Release beta version on WAMprod.
Add beta note and disable buggy features.

[2019-05-21 09:49] 4lm opened #38 "Result layers"
There shall be layers with popups and chorolpethmaps that show results. For the work on this, I created a new branch "`layers-in-results`": https://github.com/rl-institut/WAM_APP_stemp_abw/tree/feature/layers-in-results

Parts needed for this (@nesnoj, following list could be useful for you):

- model, e.g.: https://github.com/rl-institut/WAM_APP_stemp_abw/blob/feature/layers-in-results/models.py#

[2019-05-21 10:29] nesnoj commented on #38
Please find current version in [`result_visualization`](https://github.com/rl-institut/WAM_APP_stemp_abw/tree/feature/result_visualization). I used random data for the Model `RegMunPopResult`.

@4lm, If you want to start implementation of result checking (disable layers and show a message in the layer list if no results are available yet), check out [this js function](https://github.com/rl-institu

[2019-05-21 10:55] 4lm commented on #28
Mhh, I'm not sure if you completly got what I did there:

- the standard RLI-THEME is here (WAM):  https://github.com/rl-institut/WAM/blob/dev/utils/highcharts.py#L10-L53
- The theme `CUSTOM_RLI_THEME` in visualizations/highcharts.py was newly defined by me and included by changing `class HCStemp(Highchart)` in which I added the param `use_rli_theme` (which defaults to `True`) and added a conditio

[2019-05-21 12:42] 4lm commented on #28
I just realized, that I was orienting myself at the original WAM HC class (when I changed the __init__ method of the subclass of HC) which implemented it  the way I described in my above comment: https://github.com/rl-institut/WAM/blob/dev/utils/highcharts.py#L60-L66

Maybe we could find a way to change the code in the WAM project so that it adds this functionality there, but I don't know if this

[2019-05-21 13:15] 4lm commented on #38
Hi @nesnoj,

thanks for the infos on the [result_visualization](https://github.com/rl-institut/WAM_APP_stemp_abw/tree/feature/result_visualization) branch, I already merged it with the branch I work on ([feature/layers-in-results](https://github.com/rl-institut/WAM_APP_stemp_abw/tree/feature/layers-in-results)). Works fine - no conflicts!

I had a look at the function [getSimulationResults()](http

[2019-05-21 14:20] nesnoj commented on #38
Depends on what do you mean by "nothing" ;). The note above the layer list "Das Szenario wurde verändert..." should be removed and the layers be clickable.

The detail view should return null if results are unavailable, it is not supposed to get clicked anyway..

[2019-05-21 14:28] 4lm commented on #38
![image](https://user-images.githubusercontent.com/3404313/58104698-7b6d5200-7be5-11e9-932d-11c69ffc5ba1.png)

[2019-05-21 15:20] nesnoj commented on #38
Some more logic for the result layer list we just talked about:

**Event: results panel click**
Condition:
- Results are up to date (property of Result class)

*yes* -> Actions:
- hide notice in (collapsed) result panel
- hide all result layers and set switches to off
- reload result layers
- make result layer's switches clickable

*no* -> Actions:
- show notice in (collapsed) result panel
- hide

[2019-05-21 16:00] 4lm commented on #38
@nesnoj, just saw your [comment](https://github.com/rl-institut/WAM_APP_stemp_abw/issues/38#issuecomment-494437410), yes, let's talk on Thursday :heart:

[2019-05-22 12:17] nesnoj opened #39 "Layer popup partly invisible on map click"
When a layer entity is clicked, the popup is shown but partly hidden which is caused by wrong centering (clicked point is centered).
In 34181461ad10aeaa0e202519ea2126b128056d87 I adjusted the centered point by using the viewport/map size. This works for the current max. size of the popups but is not responsive and may doesn't work as desired for larger popups in the future.

I have a responsive so

[2019-05-23 08:08] nesnoj commented on #38
Another important task:
Instead of loading the result layers on startup, they should be reloaded when result panel is clicked and the results are up-to-date (I edited the [comment above](https://github.com/rl-institut/WAM_APP_stemp_abw/issues/38#issuecomment-494437410) accordingly).
@4lm can you take care of this one?
Let's talk later today about the event handling.

As those tasks will take some

[2019-05-23 08:53] nesnoj commented on #38
Instead of loading the result layers on startup, they should be reloaded when result panel is clicked and the results are up-to-date (I edited the comment above accordingly).

I gave it a start:
@4lm You may want to make use of f22a9c85173d06bc864e98d987769f302d138a11 where I split the layer list (for map context) into non-results `layer_list` and results `layer_list_results`. You could now add a

[2019-05-23 15:49] 4lm commented on #38
@nesnoj, I had a closer look at https://github.com/rl-institut/WAM_APP_stemp_abw/commit/f22a9c85173d06bc864e98d987769f302d138a11 (concerning `layer_list` and results `layer_list_results`) and have some questions/remaks. This approach (by getting the layer data via context) would IMO only work if we trigger a reload of the window to get a server side render, because we are feeding the layer data vi

[2019-05-23 16:10] nesnoj commented on #38
Like you say, the context is static and is fed on page load, this is ok as the layer metadata always remain the same. But the actual dynamic data is taken from the serial view endpoint. I do not get why is it not possible to fire the AJAX call on result panel click and add the layers subsequently. No reload required, right?

I agree that we got heaps of template tags and I'd like to have it replac

[2019-05-23 16:26] 4lm commented on #38
Yes, you are right I think!

I see this working, if we create a clone of the function `main_map_init` in which we use `layer_list_results` instead of `layer_list`. We then call call this cloned function whenever we want to load new or updated simulation results. Maybe we could refactor the code that we use one instead of two functions, I'll have a look ...

[2019-05-23 16:45] 4lm commented on #38
Mmhh,

not as easy as I tought, because main_map_init it's doing a double Rittberger:

The template tag [`{% leaflet_map "mapid" callback="window.main_map_init" %}`](https://github.com/rl-institut/WAM_APP_stemp_abw/blob/feature/layers-in-results/templates/stemp_abw/map.html#L396) is creating the JS which then is calling main_map_init as a callback function where it also is putting the map object a

[2019-05-23 22:31] #37 closed

[2019-05-28 13:58] 4lm opened #40 "Mystery Bug"
Hi @nesnoj,

I have a bug, which sometimes throws an error in the browser console after freshly (re)loading the app:

![image](https://user-images.githubusercontent.com/3404313/58483427-95b4ac00-8160-11e9-986d-70062b0510c4.png)

Concerning function:

https://github.com/rl-institut/WAM_APP_stemp_abw/blob/feature/layers-in-results/static/stemp_abw/js/scn_functions.js#L30

The error doesn't seem to h

[2019-05-28 14:00] 4lm commented on #40
I can't properly reproduce the bug. It sometimes occures after reload and sometimes not :thinking:

[2019-05-28 17:05] nesnoj commented on #40
It seems as if `updateScenarioControls()` is fired before slider #sl_wind is loaded which does not make sense to me. If this error occurs, the wind slider is enabled on startup which should NOT happen.

I cannot reproduce this behavior.. if you stumble across this message again, please check whether it's enabled or not, thx!

[2019-05-29 10:26] nesnoj commented on #38
Now for the result layers which are needed:

- Anteil Energie aus EE an Strombedarf
- Gewonnene Energie aus EE
- Gewonnene Energie aus EE je km²
- Installierte Leistung
- Installierte Leistung je km²
- Anzahl Windenergieanlagen je km²

- Strombedarf
- Strombedarf je EinwohnerIn
- Wärmebedarf
- Wärmebedarf je EinwohnerIn

This list is not complete yet..

[2019-05-29 10:56] nesnoj commented on #38
**List of layers**
For the results, we can recycle many of the region layers. First we need:

Erneuerbare Energien (EE)
- Anteil Energie aus EE an Strombedarf
- Gewonnene Energie aus EE
- Gewonnene Energie aus EE je km²
- Installierte Leistung
- Installierte Leistung je km²
- Anzahl Windenergieanlagen je km²

Energiebedarf
- Strombedarf
- Strombedarf je EinwohnerIn
- Wärmebedarf
- Wärmebedarf je E

[2019-06-05 09:33] 4lm commented on #38
Hi @nesnoj,

I had a look at the endpoint `results/ ` (JSON) and at the raw results in the session (`session.simulation.results`). For now I only can find aggregated results for the region, but not for each of the 20 municipalities - is that right?

To implement all the results layers (with the municipalities data) [mentioned above](https://github.com/rl-institut/WAM_APP_stemp_abw/issues/38#issuec

[2019-06-05 09:36] nesnoj commented on #28
@4lm Beside the text formatting some I needed a different aspect ratio for the result charts. Therefore, in 0460f7ede1152371b2f00f6ed94b0e2f8a4a3393 I've split the custom RLI theme into two: one for the popups and one for the results. The param `theme` must be explicitly set when creating a popup HC. I adjusted your detail views accordingly.
(not sure if a full merge into your branch is a god idea

[2019-06-05 09:52] nesnoj commented on #38
Yepp, no progress yet, please go on with the replication as far as possible.
I will provide the data asap with the same JSON structure as before.

[2019-06-05 12:10] nesnoj commented on #38
Hey @4lm, I'd like to change the concept of result checking a little. What indicator do you use to check whether the results are up-to-date?
1. Endpoint `/results/` -> if data is null, results are not up-to-date
2. Results' property `is_up_to_date`

?

[2019-06-05 13:03] 4lm commented on #38
Hi @nesnoj,

the first one "1. Endpoint /results/ -> if data is null, results are not up-to-date"

[2019-06-05 14:56] 4lm commented on #38
@nesnoj. Done with the not yet complete list of result layers to implement. Next, I will have a look at "Show delta in layer" ...

[2019-06-05 15:24] 4lm commented on #38
Layer delta:

@nesnoj, I think this is exactly what we are looking for: https://gis.stackexchange.com/questions/245621/how-to-label-geojson-points-in-leaflet

Uses tooltips, but makes the background transparent, so that only the number remains. Working example: https://jsfiddle.net/maphew/gtdkxj8e/7/

Now we only have to implement it :thinking:

[2019-06-05 15:44] nesnoj commented on #38
Nice! Let me know if you need the 20 coords and I'll extract the centroids with postgis and add it to the mun table..

The challenging part is probably that instead of 1 we need 2 layers to be displayed. This could mess up our current 1-layer-logic..

[2019-06-05 16:15] 4lm commented on #38
Yes, that would be nice. I think I could need it tomorrow ...

I think we should keep the logic and have two choropleth maps for the "result" and "result delta" layers. The user can then switch as usual between result and result delta. This route also takes into account that we need two choropleth maps, because we have different municipality values for "result" and  "result delta". And it also wou

[2019-06-06 08:35] 4lm commented on #38
@nesnoj. Please don't do this ("20 coords") now, I want to discuss with you an alternative implementation for the delta layer, which is much easier/simpler to implement ... description follows ...

[2019-06-06 10:32] 4lm commented on #38
As spoken on the phone I tried to implement it the way you first suggested it and it works :smile::

![image](https://user-images.githubusercontent.com/3404313/59026153-0725e600-8856-11e9-828c-3daf3b7e6ab5.png)

Right now this is for each result layer the same, because the same values are fed in via a simple dict during layer preparation: https://github.com/rl-institut/WAM_APP_stemp_abw/blob/featu

[2019-06-06 11:11] nesnoj commented on #38
Starting from your branch I created a new one named [`feature/layers-in-results-delta-endpoint`](https://github.com/rl-institut/WAM_APP_stemp_abw/tree/feature/layers-in-results-delta-endpoint) with one example, please go ahead and create the rest yourself.
As I added a new geom column to reg_mun, you have to apply migrations to make it work. I'll send you a dump of the table in a second via mail..

[2019-06-06 12:10] 4lm opened #41 "Kick the popup property out of the serialization"
@nesnoj, wrote in #38:

Check if this assumption is true and if so, delete popup properties ...

[2019-06-06 12:15] 4lm commented on #38
Thx, I already merged it into my work branch

Yes, I will use the full dump

Yes, I will delete this test layer implementation ...

Thx, found it ...

Yes :)

Noted!

Yes, will do ...

Will do later, I opened an issue for this #41

[2019-06-06 12:28] 4lm commented on #38
Done https://github.com/rl-institut/WAM_APP_stemp_abw/commit/23c9c414507cd8d4b34b41d1223b901dfe859e78

[2019-06-06 12:35] 4lm commented on #38
Done https://github.com/rl-institut/WAM_APP_stemp_abw/commit/cd55d707171729d7a8fc87d42d0f18e1bc9dee72

[2019-06-06 17:24] 4lm commented on #38
Done: https://github.com/rl-institut/WAM_APP_stemp_abw/commit/dbd4353ea4a6a371fd4353121869c00dc7fe4283, https://github.com/rl-institut/WAM_APP_stemp_abw/commit/78156c1d81fd379d9e6d24bebc0f73e8ad9b6310

We now just need the correct data for result layers and deltas!

![image](https://user-images.githubusercontent.com/3404313/59052886-6d2f5f00-8890-11e9-881e-dbfcf85514e0.png)

[2019-06-06 17:28] 4lm opened #42 "Legend is partly overlayed by footer"
![image](https://user-images.githubusercontent.com/3404313/59053114-ee86f180-8890-11e9-8a4c-e3d20619e872.png)

Should be an easy fix!

[2019-06-07 07:54] nesnoj commented on #38
Thx! :+1:
Three more things, could you please
1. Make sure the font size scales with the zoom level. Currently, it's fixed which leads to very large fonts at small zoom levels:
![stemp_abw_result_layer_with_captions_font_size_bug](https://user-images.githubusercontent.com/15910173/59089501-9260b380-890a-11e9-8b68-ac60255e09a4.png)

2. Add additional value for entire region (#12), like so (not only

[2019-06-11 05:11] nesnoj commented on #38
I merged your branch into mine, resolved conflicts and most works just fine. Find it in [`feature/result_visualization`](https://github.com/rl-institut/WAM_APP_stemp_abw/tree/feature/result_visualization).

Although, the initial result layers are not loaded. This is caused by some changes in the logic of the results endpoint: On startup (app init), the result endpoint does not return "none" but th

[2019-06-11 08:29] 4lm commented on #38
Ok, I will merge `feature/result_visualization` in my working branch and fix it.

I also will have a look at the above three topics: https://github.com/rl-institut/WAM_APP_stemp_abw/issues/38#issuecomment-499793117

"2." and "3." should be easy, "1." could be harder, so my order of work will be: "3.", "2.", "1." ...

[2019-06-11 08:55] 4lm commented on #38
Mhh, I get an 500 internal server error on the endpoint `/stemp_abw/results/`:

`ValueError: Length mismatch: Expected axis has 744 elements, new values have 2160 elements`

Do you know a fix for this?

Independently of this error I would in another step implement the future check, if results are there and uptodate, via result property `is_up_to_date`

[2019-06-11 09:10] 4lm commented on #38
Mhh, this doesn't work `is_up_to_date` is always `True` now, even without simulation.

An easy workaround may be, to make another endpoint, so that there are two endpoints:

1. one status quo results endpoint (always returns some JSON)
2. one simulation endpoint (returns `None` (no results, changed results) or some JSON)

The logic for you then could be: Get status quo endpoint, if simulation endp

[2019-06-11 09:49] 4lm commented on #38
Until we resolve above issue, I'm tackling the other stuff ...

[2019-06-11 09:50] 4lm commented on #38
I made the background white semi-transparent ("0.5", which I guessed as value you used for the mockup: https://github.com/rl-institut/WAM_APP_stemp_abw/issues/38#issuecomment-496888134), which has an uneven effect:

![image](https://user-images.githubusercontent.com/3404313/59262224-197d9680-8c3f-11e9-9106-9cb95fc6aaf7.png)

[2019-06-11 10:30] 4lm commented on #41
Solved by: https://github.com/rl-institut/WAM_APP_stemp_abw/commit/1384a8fc44a41dfaba0232c50d67975506f7508e.

[2019-06-11 10:30] #41 closed

[2019-06-11 12:37] nesnoj commented on #38
Ok, as you suggested I added another endpoint for the sim status which can hold "up_to_date", "outdated" or "init", cf. 3501784c3d371c1cf0e000087cafacc2af5d670f. The layer trigger uses "up_to_date" only, whereas I'm using "up_to_date" or "init" for the charts.

[2019-06-11 13:33] 4lm commented on #38
Cool, will merge in my working branch!

[2019-06-11 13:36] 4lm commented on #38
Nice, works!

[2019-06-11 13:43] nesnoj commented on #38
Concerning the aggregated values for the entire region, you can make use of django's [`annotate`](https://docs.djangoproject.com/en/2.2/ref/models/querysets/#annotate) (although you can't use it in the model but in views by modifying the QuerySet)

Example: https://stackoverflow.com/questions/25308828/how-to-add-additional-column-to-django-queryset

[2019-06-11 14:02] 4lm commented on #38
Thanks for the hint, I directly added properties in the model, via Model.objects.values('columnname') and with the help of some simple math. Works for me (at least for all input layers).

Used it here https://github.com/rl-institut/WAM_APP_stemp_abw/commit/88da3c563c6027dc2b2f4949ea1b7b13c35d919d and here https://github.com/rl-institut/WAM_APP_stemp_abw/commit/c305b7f27dcff07b1d7626b0f18aa067ee1b7

[2019-06-11 14:42] 4lm opened #43 "Results layers after reload enabled and not visible"
How to reproduce:

- Hit simulate
- Reload page
- Go to result layers, click on a switch

If your layers are gone (above steps) and you hit simulate:

- runs endless, if you enabled at least one switch
- works, if all switches are enabled and layers are back again

[2019-06-11 14:46] 4lm opened #44 "All maps in all layers disappear"
How to reproduce:

- Zoom in (a lot) into one layer
- Click on layer
- After click on layer, move layer around (click and hold and move the mouse)
- All choropleth maps in all layers (input|result) are gone an are not coming back

[2019-06-11 15:49] nesnoj commented on #44
Does it help if you restrict the max. zoom? Can be set in settings.py:
https://github.com/rl-institut/WAM_APP_stemp_abw/blob/291e3d4cf8c1070d9cd5b1e5e12e2004c7a56a85/settings.py#L7-L34

Config of django plugin see [here](https://django-leaflet.readthedocs.io/en/latest/templates.html?highlight=zoom#initial-map-center-and-zoom-level).

[2019-06-11 15:56] 4lm commented on #44
Should help, because on smaller zoom levels this effect doesn't come into place ...  could be an easy fix in the end ...

[2019-06-11 16:09] 4lm commented on #44
@nesnoj, I changed the maxZoom to 12, I can still trigger the effect but its much harder to do so ... I think we shouldn't go lower than maxZoom of 12 ...

What do you think?

[2019-06-11 16:32] 4lm opened #45 "Add theme='popups' to result layers"

[2019-06-11 19:15] nesnoj commented on #44
Check!

[2019-06-11 19:18] nesnoj commented on #43
I'll check if this is related to the session data which may survive the refresh..

[2019-06-12 07:01] nesnoj commented on #43
Fixed in f574f31a07752176b499124e736d24836abf60d0.

The session is re-created on page reload. This resets all settings on reload but will keep the frontend settings in line with the session settings.

Until the [WAM PR](https://github.com/rl-institut/WAM/pull/57) is merged you need to checkout WAM branch[`features/allow-force-new-session`](https://github.com/rl-institut/WAM/tree/features/allow-for

[2019-06-12 07:01] #43 closed

[2019-06-12 07:29] nesnoj opened #46 "Uncaught TypeError: Cannot read property 'series' of undefined"
Occurs when viewing result charts on app startup

[2019-06-12 07:56] nesnoj opened #47 "Fix result chart load delay"
The result charts are loaded with a [delay of 750ms](https://github.com/rl-institut/WAM_APP_stemp_abw/blob/5d2dac47c24ed1f929122e71c9295f4b96e6a032/templates/stemp_abw/map.html#L530) which looks ugly.
This workaround was needed due to the delayed expansion of the result panel.

[2019-06-12 07:58] nesnoj opened #48 "Show panel tooltips only if panel is not already active"

[2019-06-12 08:09] #46 closed

[2019-06-12 08:09] #47 closed

[2019-06-12 08:10] nesnoj commented on #47
Although not fully fixed, it's a little faster now.

[2019-06-12 08:16] nesnoj commented on #45
Fixed and merged into `feature/layers-in-results`

[2019-06-12 08:16] #45 closed

[2019-06-13 12:21] nesnoj commented on #43
I found a better way: Instead of forcing a new session the session data are re-initialized (deleted) which allows parallel usage of WAM apps without destroying the session, cf. https://github.com/rl-institut/WAM/pull/57

I merged the solution into `feature/layers-in-results` so there's **no need** to use a special WAM branch! (will delete it)

[2019-06-14 10:24] nesnoj commented on #48
Only applies for result panel, fixed in 8d49759a583c0d3ce86fa8f619f86b5e008c19d2

[2019-06-14 10:24] #48 closed

[2019-06-14 10:42] nesnoj opened #49 "Remove postponed features"
To be removed/cleaned up:

- [x] esys controls (DSM, heat, flex) and corresponding reg params in scn
- [x] save button (save & load postponed)
- [x] BETA stuff

All postponed features are mentioned in this issue and can be reverted.

[2019-06-14 11:07] nesnoj opened #50 "Prepare release v1.0"
Tasks prior to release of v1.0:

- [x] remove BETA on landing page img and header (& update screenies)
- [x] remove all BETA hints
- [x] update link to WAM's privacy statement
- [x] update release notes
- [x] update sources tables in WAMprod
- [x] update sources for layers
- [x] docs
  - [x] update APIdocs
  - [ ] set master branch at RTD as default
  - [ ] update links to docs (e.g. in README.md)

[2019-06-14 11:13] nesnoj commented on #28
I think we're done here, thx!

[2019-06-14 11:13] #28 closed

[2019-06-17 00:40] nesnoj commented on #38
Hint: It's more efficient and idiomatic to use [aggregation](https://docs.djangoproject.com/en/2.1/topics/db/aggregation/#generating-aggregates-over-a-queryset) functions instead of [loops](https://github.com/rl-institut/WAM_APP_stemp_abw/blob/8aa7367bde0e66cf15f210b7c0606f36a859589e/models.py#L110-L120) as Django performs 1 SQL query for each dataset so in this example we have 80 (!) queries. Tha

[2019-06-17 16:48] nesnoj opened #51 "Add supplementary code and material"
Such as:

- [ ] SQL scripts for intermediate data tables
- [ ] SQL scripts for initial scn setup (+hook to admin manager)
- [ ] Scripts for initial data setup (pp, feedin, demand) - consider new repo
- [ ] ...

[2019-06-18 08:50] 4lm commented on #38
Thanks for the hint, you are right, 80 queries is way to much ... may plan was to first code a solution and optimize later. But your suggestion (aggregation function) is good and easy to implement, I will refactor the given code and use it form now on for new code ... if we need even more performance later on, we can look into Django's F() object in another refactor round, for now I would go with

[2019-06-18 09:58] 4lm opened #52 "Improve switch visibility in input layer panel"
If I scroll to bottom, last switch is only partly visible. I fixed this for result panel, also will fix for input layer panel ... also look at other panels ...

[2019-06-18 12:20] 4lm commented on #52
Done.

[2019-06-18 12:20] #52 closed

[2019-06-18 13:10] 4lm commented on #42
Done.

[2019-06-18 13:10] #42 closed

[2019-06-18 15:24] 4lm commented on #40
@nesnoj, this one was really obscure:

- I checked how often above described bug occurred after refresh - it was about every 5 refreshes.
- It was always the same mistake, occurring in the same else-clause of an if-else-statement.
- In the case of the bug occurring, the Ion.RangeSlider (IRS) element  `#sl_wind` was matched by JQuery first, but then a service method of the IRS was adding the class

[2019-06-18 16:01] 4lm commented on #51
Here is some SQL code I use for removing all stemp_abw_* tables before adding a new database blob: https://gist.github.com/4lm/d68f1b964f1515e086ba393c968b8bf6

Maybe this is helpful?

[2019-06-19 17:02] nesnoj opened #53 "Insert conventional and bioenergy"
- change categorization (small & large instead of technologies ST & CC)
- insert constant feedin ts (superpose small & large)
- handle absolute ts
- add to esys
- enable controls
- recreate scenarios

[2019-06-19 17:44] nesnoj commented on #26
The scenario settings are reset thanks to the recent session update (cf. https://github.com/rl-institut/WAM_APP_stemp_abw/issues/43#issuecomment-501679019). As the SQ scenario is applied on each visit (also via back button), the esys controls are reset as well.

The only missing things from my point of view are the bootstrap layer switches and a warning notice.
I recommend to:
1. Simply reset all

[2019-06-19 21:30] nesnoj commented on #53
Done in `feature/integrate_conv_and_bio_plants`

[2019-06-19 21:30] #53 closed

[2019-06-20 10:16] nesnoj opened #54 "Wind slider value incorrect on change of repowering scn"
Fix:
- set wind slider value after change of repowering scn
- reset variable area controls when repowering scn is not "Freier Zubau"

[2019-06-20 13:35] 4lm commented on #26
@nesnoj. Please merge again the branch `feature/results-in-layers` into your working branch to fetch above commit: https://github.com/rl-institut/WAM_APP_stemp_abw/commit/31782e051269d8a7bd5700e435763bbe54d23506

Then close this issue.

As requested via email, I will add two new feature branches and issues for the work on:

1.) Improving page navigation in map view
2.) Add confirm dialog if clicki

[2019-06-20 13:36] 4lm opened #55 "Improve page navigation in map view"
Branch: https://github.com/rl-institut/WAM_APP_stemp_abw/tree/feature/improve-navigation

[2019-06-20 13:36] 4lm opened #56 "Add confirm dialog if clicking on start page link from map view"

[2019-06-20 14:31] 4lm commented on #55
@nesnoj, I just added - for testing - new tabs links in:

Datenschutz (Header)
Kontakt (Menu)
Impressum (Menu)
Quellen (Menu|Popups)
Annahmen (Menu)

and I really hate it! It destroys the whole navigation flow. I would like to only add new tab links in the sources links in popups ...

What do you think?

[2019-06-20 14:37] 4lm commented on #56
Will add this functionality in `feature/improve-navigation` branch and communicate the commit in #55. Because of this, I will close this issue

[2019-06-20 14:37] #56 closed

[2019-06-20 14:42] nesnoj commented on #26
Good work :+1:

[2019-06-20 14:42] #26 closed

[2019-06-20 14:46] nesnoj commented on #40
To my mind it's ok for now, I moved this one to milestone `finalization`.

[2019-06-20 17:01] 4lm commented on #55
@nesnoj,

please review above commits and merge them into your working brach, if you like what you see :wink:

Good luck next week :heart:

[2019-06-21 15:10] nesnoj commented on #55
Cheers!
I've two change requests:
1. Show warning not only when clicking on start page but also for the links to Impressum, Sources, Kontakt, Datenschutz (and change the warning text accordingly)
2. Could you please center everything in the warning popup?
![stemp_abw_warnung](https://user-images.githubusercontent.com/15910173/59932368-4a33ac00-9447-11e9-8403-aea76b52ce09.png)

[2019-06-24 07:13] nesnoj opened #58 "Add DB data for layers Einzelfallprüfung"

[2019-06-24 09:10] nesnoj commented on #44
Even with your recently implemented zoom restrictions, I encountered the very same behavior with the regular planning layers ("Statische Flächen") at highest zoom level. It disappears and won't come back :(

@4lm could you please dig deeper and find our what's the reason for this?

[2019-06-24 09:21] nesnoj opened #59 "Add more DB meta data to layer popups"
E.g. include content from DB fields like `gebietsnam` in popup

[2019-06-24 09:48] nesnoj opened #60 "Tooltip triangle is broken"
I defined the tooltips to popup to the right in the attribute `data-position="right"` ([example](https://github.com/rl-institut/WAM_APP_stemp_abw/blob/20dd5823fd17e9063106003112b469e76fcee5c0/templates/stemp_abw/map.html#L63)). Even defined in such a way, when there's not enough space they pop up upwards which leads to a broken triangle.

Example:
![stemp_abw_tooltip_triangle](https://user-images.

[2019-06-24 12:06] nesnoj commented on #58
Done, additionally simplified geoms of large layers to reduce loading time.

[2019-06-24 12:06] #58 closed

[2019-06-24 13:57] nesnoj commented on #55
2. is fixed in d5fd052b93cbb896dd22fd56c4211e2157fb20b3

[2019-06-24 14:23] nesnoj opened #61 "Cleanup code"
- [ ] obsolete code snippets (testing and commented out)
- [ ] optional ToDos

[2019-06-24 14:24] nesnoj commented on #49
Cleanup moved to #61

[2019-06-24 15:42] #54 closed

[2019-06-24 19:11] nesnoj opened #62 "Result layers not loaded after page refresh"
When you start the server and hit simulate, the result layers #38 are loaded and can be viewed - everything's fine. But if you reload the page at anytime afterwards, they won't show up (console says "cannot add undefined").

After 2 hours I figured out that the context var `layer_list_results` (defined in map's view) is empty, because the result layers are not contained anymore in the imported con

[2019-06-25 00:00] #49 closed

[2019-07-03 19:33] nesnoj commented on #40
I have the same error when adding the scenario [markers on the sliders](https://github.com/rl-institut/WAM_APP_stemp_abw/blob/f9700ce1c0799cb213fcf1ffaf25b2c28f2d705a/static/stemp_abw/js/scn_functions.js#L65): The marker on the single slider in variable areas panel is always omitted.

It works with the same delay (7f51a99) but it'd be better to check if the input has class `.irs-hidden-input` as w

[2019-07-03 21:40] 4lm commented on #13
Hi @nesnoj,

I stumbled over a solution for this and thought, I know a place where there is good use for this :)

CSS pointer-events: https://developer.mozilla.org/en-US/docs/Web/CSS/pointer-events

If set to `none`, it will make the selected element in the DOM non-clickable! Has a support of 96,75%: https://caniuse.com/#feat=pointer-events

[2019-07-03 23:39] nesnoj commented on #13
Nice - if it works for leaflet, go ahead..

[2019-07-06 10:41] #36 closed

[2019-07-06 10:42] #22 closed

[2019-07-06 10:42] #12 closed

[2019-07-16 14:28] 4lm commented on #13
:thinking: It doesn't work, I tried:

- setting point-canvas to none (no effect)
- using an overlay (overlay is replaced during loading process by leaflet map, hence no effect)
- disabling and enabling leaflet interactivity: https://gis.stackexchange.com/a/54925 (no effect)

It's more tricky as I thought! Any ideas?

[2019-07-16 14:38] 4lm commented on #55
OK. Will do!

[2019-07-16 14:54] 4lm commented on #38
@nesnoj. Why did you remove the deltas? #49

[2019-07-16 15:06] 4lm commented on #62
I have different behavior, after hitting simulation there are (i) no deltas and (ii) no popup charts for the choroplethmaps in the result layers ... so the result layers have little to no use in this state, because one  can only compare color gradients with the concerning legend to get an estimation of the values for each municipality ...

[2019-07-16 15:08] 4lm commented on #62
@nesnoj, is [this](https://github.com/rl-institut/WAM_APP_stemp_abw/issues/62#issuecomment-511857177) the expected behaviour?

[2019-07-16 15:20] 4lm commented on #62
@nesnoj. Rediscovered your email :smile:, so you will (re)add deltas and popup views for result layers after your vacation, very good :+1:

[2019-07-16 15:21] 4lm commented on #60
OK, will have a look!

[2019-07-17 15:30] 4lm commented on #60
This one was interesting. This effect took place only if there was not enough space for the tooltip in the ordered direction. Solution, don't force the unenforceable, let the tooltip appear to the left!

For this:

- I changed the area of the tooltip to the whole button (took me a few minutes to realize, that there was a tooltip behind the tiny arrow icon inside the button :smile:).
- let the tool

[2019-07-18 06:02] christian-rli opened #67 "Attribution for street layer"
I noticed that there is a nice looking street layer from mapbox in the app. Mapbox wants you to  [attribute them](https://docs.mapbox.com/help/how-mapbox-works/attribution/). We noticed this in FredApp (https://github.com/rl-institut/WAM_APP_FRED/issues/95). Now I know where those lines of code came from :)

[2019-07-18 10:32] 4lm commented on #67
@christian-rli,

thanks for hint!

Where the token came from and in which name it is registered - I don't know! Maybe @nesnoj knows this!

[2019-07-18 12:03] 4lm commented on #67
Hi @nesnoj,

I updated the attribution (used @christian-rli commit as template). But we have four maps in total (the user can choose from): https://github.com/rl-institut/WAM_APP_stemp_abw/blob/dev/config/leaflet.py#L8-L30

Can you confirm, that the attribution for the other 3 tile server is correct?

For example "OSM B&W" uses the tile server "toolserver.org" but is solely attributed with "Leafle

[2019-07-18 14:44] 4lm commented on #44
Yes, will do!

Yes, as stated my solution doesn't fix the issue, it makes the issue just more unlikely to appear, because the effect is harder to trigger ...

[2019-07-18 15:12] 4lm commented on #44
- Setting panning higher, doesn't work: https://stackoverflow.com/a/42031822
- Maybe a GeoJSON issue? Not quite the same, but maybe related: https://gis.stackexchange.com/questions/195143/features-disappear-from-leaflet-after-zooming-in

[2019-07-25 10:03] nesnoj commented on #67
Most parts fixed in 8872cc34d3066473653a73f5ed6938ee045d56eb
But the token issue is left (see https://github.com/rl-institut/WAM_APP_FRED/issues/95) and maybe the toolserver.org stuff

[2019-07-25 10:24] nesnoj commented on #30
As just mentioned, it'd be great if you'd continue working on the dev part of the docs

[2019-07-25 13:15] 4lm commented on #67
@nesnoj, I added our own wam-rli mapbox token. Works as expected!

[2019-07-30 16:39] nesnoj opened #71 "Data shipping & deployment"
Find a good and user-friendly way to ship & deploy tool data, e.g. using [django's fixtures](https://docs.djangoproject.com/en/2.2/howto/initial-data/). Make sure it's compatible with the WAM.

[2019-07-31 13:24] 4lm commented on #30
Hi @nesnoj, as mentioned yesterday f2f, I'm on it. I created an extra branch: https://github.com/rl-institut/WAM_APP_stemp_abw/tree/feature/improve-docs

Feel, free to also commit on this branch ...

[2019-07-31 13:25] 4lm commented on #71
Yes, will have a look now!

[2019-07-31 16:40] 4lm commented on #71
Hi @nesnoj,

I checked the data handling via fixtures out and it works like a charm!

Unfortunately it's a little bit more complex than that :wink:

But one thing after another:

### Fixtures

- Work like a charm (dumping and restoring)! They are a little bit slow, but workable. In the case of stemp_abw it's 1 minute for backup and 8 minutes for restore. You can backup and restore the whole projec

[2019-08-01 12:53] 4lm commented on #71
@nesnoj, I think there is also a third possibility. Add the fixtures as zip files (~ 16 MB) to the Git repo. Maybe with the help of a litte script file, that zips fixtures from and unzips fixtures to the `fixtures/` folder and an .gitignore entry, set to ignore the `fixtures/` folder:

- `fixtures/<fixtures files>` <-- not tracked (.gitignore)
- `fixtures_zipped/<zipped fixtures files` <-- tracked

[2019-08-06 09:37] nesnoj opened #72 "Multi-language support"
Text is prepared by @Stefanie08 in
https://github.com/rl-institut/WAM_APP_stemp_abw/tree/feature/multi_language_support

@4lm What options do we have to implement multi-language support?

[2019-08-06 09:49] 4lm commented on #72
Thanks for the task, I like :smiley_cat: As spoken f2f - I will have a look and report!

[2019-08-07 17:01] 4lm commented on #72
Hi @nesnoj,

multi-language works! In templates and views (also in the Charts :rocket:). I had to do some workarounds, because multi-language support is normally tied as global state to `wam/settings.py`.
But we want each app to have a separate language state, so we are missing some features, which is OK IMO. The stuff we need is there!

I added a simple version with a (unstyled) language switcher

[2019-08-13 14:29] nesnoj commented on #60
Done in #69, thx @4lm!

[2019-08-13 14:29] #60 closed

[2019-08-13 14:47] nesnoj commented on #55
Done in #70, cheers @4lm!

[2019-08-13 14:47] #55 closed

[2019-08-13 14:55] nesnoj commented on #67
Thx!

[2019-08-13 14:55] #67 closed

[2019-08-14 08:18] nesnoj opened #73 "Update app icon"

[2019-08-14 10:00] nesnoj commented on #72
As agreed yesterday f2f, you create a draft to find out if all language-related parts can be covered.
Let me know if you need a review..

**EDIT:**
BTW: In the end, pls add deployment instructions to the [dev docs](https://github.com/rl-institut/WAM_APP_stemp_abw/blob/feature/multi_language_support/doc/developer.rst).

[2019-08-14 10:33] nesnoj commented on #71
Sounds good! I'd prefer to have the fixtures stored on [zenodo](https://zenodo.org/) to avoid bloating the repo. Let me know if you want me to upload something.
A bash script could wget, unzip and copy the files to the desired dir (a python script might be better for windows' sake?)

As mentioned, I guess that custom management commands are only available on Project (WAM) level?! Alternatively, a

[2019-08-14 11:21] nesnoj commented on #73
Done in https://github.com/rl-institut/WAM/commit/615b77a2b09c7e4739c86f2c5664d3dff6c741a7

[2019-08-14 11:21] #73 closed

[2019-08-14 13:20] nesnoj opened #74 "Fix population + th. demand"
Pop + th. demand tables hold wrong data.

1. Pop bugs due to faulty pgadmin import:
* pop 2050 = pop 2030
* pop 2030 = pop 2017
* pop 2017 = pop 2011
* pop 2011 = pop 2050
-> rotate 1 timestep o_O

Also, add 2050 extrapolation comment.
+fix SQL scripts

2. Th. demand:
Update of th. demand timeseries required (spec. TS erroneous due to wrong pop)

3. Use 2013 as weather year instead of 2017 to be i

[2019-08-14 13:21] nesnoj opened #75 "Fix ground-mounted pv potential"
- Calculate available areas taking restriction areas into account
- Add reveal with info on potential calculation
- update docs

[2019-08-15 16:21] 4lm commented on #72
Hi @nesnoj,

enabling I18N in stemp_abw is as good as done. As far as I can see, there are only some minor things left to do (e. g. the `unit` attributes in `stemp/abw/layers_region.cfg` and `temp/abw/layers_region.cfg` are in German and should also be translatable).

In the end I opted for the `.cfg`- and `.md` files to use the approach you first suggested. I did this, because it was way less wor

[2019-08-15 16:30] 4lm commented on #71
I also have zenodo account now and can upload the appropriate fixture if we fixed the general install problem (also see last answer).

I had a look and you can add the custom management commands on app level so even if we use them on project level (root folder via pyhton manage.py ...) IMO we should be able to make this work on the appropriate app level.

No, IMO this needs a bigger refactoring ro

[2019-08-16 07:22] nesnoj commented on #72
Sounds great, looking forward! :)

[2019-08-16 08:30] nesnoj commented on #71
For the final version, I'd like to upload the data using RLI's zenodo account

Good news, go ahead! :)

The problem seems to occur if one intends to alter the models/DB tables but the requested models are accessed during initialization (which happens in the parts you mentioned), e.g. `<model>.objects.all()`.
To solve this, we could make use of
1. exception handling as suggested [here](https://stac

[2019-08-19 09:20] #74 closed

[2019-08-20 09:40] 4lm commented on #71
OK.

:+1:

I like solution (3.) That's pretty much what I did for the i18n part where I wanted to use our given cfg files. Maybe in combination with solution (1.), where exception handling makes sense.

[2019-08-23 09:27] nesnoj commented on #72
Good work @4lm!
I merged your PR #76.

There're some shortcomings, I'd be very happy if you could tackle them:
1. The result chart tooltips (texts below the charts) are not translated. They are loaded correctly [here](https://github.com/rl-institut/WAM_APP_stemp_abw/blob/6963f569a13675715bed18c8f025f1738161873a/results/results.py#L499) but the class `ResultChart` is instantiated by each chart only

[2019-08-26 08:43] nesnoj commented on #71
#77 looks good :+1:, I'll leave it open until you have finished the docs and a trial run (full install from scratch) has taken place..

[2019-08-26 08:44] nesnoj commented on #30
Nice :+1:
I merged into dev and other current branches to make sure everything uses the latest base.

[2019-08-27 19:23] nesnoj commented on #34
Won't be implemented

[2019-08-27 19:23] #34 closed

[2019-08-27 19:27] nesnoj opened #80 "Get BMBF logo approval"

[2019-08-30 11:31] nesnoj opened #81 "Add more background info on wind potential areas"
either as reveal or using link to docs

[2019-08-30 13:51] nesnoj opened #82 "Share of RE empty in info layer popup"
In the popup of layer "Anteil Energie aus EE an Strombedarf" the relative share (%) of technologies is shown correctly in the chart but missing/empty on mouseover:

![image](https://user-images.githubusercontent.com/15910173/64025917-07284000-cb3e-11e9-9e92-718e1d912234.png)

[2019-09-02 14:31] nesnoj commented on #72
Beside my comments above, I discovered a bug:

When switching from DE to EN, the first accordion in energy system is not expanded on startup as expected:

![image](https://user-images.githubusercontent.com/15910173/64121319-c11de700-cd9e-11e9-9842-1c7dfa55f1d2.png)

Contrary, when switching to DE, it is expanded properly..

[2019-09-02 16:33] #75 closed

[2019-09-02 16:50] nesnoj opened #84 "Reduce screenshot size in usage docs"
To allow for faster image loading, please update the [screenshot files](https://github.com/rl-institut/WAM_APP_stemp_abw/tree/dev/doc/files) in [usage docs](https://github.com/rl-institut/WAM_APP_stemp_abw/blob/dev/doc/usage.rst):

- [x] reduce width to 1600px
- [x] convert png to jpg (quality 90)
- [x] also, avoid "Umlaute" in file names (even better: english names)

Thx! :)

[2019-09-04 16:42] nesnoj commented on #30
@4lm The WAM install docs will be updated by @henhuy shortly. As soon as this will have taken place, could you please revise and harmonize our [installation docs](https://github.com/rl-institut/WAM_APP_stemp_abw/blob/feature/improve-docs/doc/installation_and_setup.rst)? Thx!

[2019-09-05 15:25] nesnoj commented on #72
Another bug: The translation does not work on the landing page - do you know why?

[2019-09-05 15:31] nesnoj opened #85 "Translate RTD docs to EN"

[2019-09-06 15:00] nesnoj opened #86 "Allow adjustment of industrial energy demand"

[2019-09-09 16:23] nesnoj commented on #72
Also, some other translations are not loaded, e.g. in the left menu and in the result charts section..

[2019-09-10 04:50] #86 closed

[2019-09-10 07:39] AnyaHe commented on #84
Only the files in usage docs or also other screenshots?

[2019-09-10 08:10] nesnoj commented on #84
Usage should be enough, the other files are small enough..

[2019-09-10 08:17] nesnoj commented on #84
Hmm, now they are even larger that before...?!

[2019-09-10 08:29] AnyaHe commented on #84
Sorry, don't know what happened there. I changed the files. They should be smaller now.

[2019-09-10 09:16] nesnoj commented on #84
Looks good, cheers! :)

[2019-09-10 09:16] #84 closed

[2019-09-11 18:21] nesnoj opened #87 "Add RE share chart"

[2019-09-12 14:13] 4lm commented on #82
Minor issue, fixed in: https://github.com/rl-institut/WAM_APP_stemp_abw/commit/0173e8ed2174e29647fb94e5c3842473e18e0d49

[2019-09-12 14:14] 4lm commented on #82
Please review and close this issue if satisfied - thx!

[2019-09-12 14:30] 4lm commented on #72
For the record, all the i18n related issues have been fixed in branch 4lm/feature/add-multi-language-support - hopefully :wink:

I will tackle now:

- https://github.com/rl-institut/WAM_APP_stemp_abw/issues/72#issuecomment-527168230
- >Warning message ("results lost..") on language switch (same as the other ones you used when switching to contect etc.)
- >I saw u added some structure for i18n to t

[2019-09-12 14:40] 4lm commented on #72
@nesnoj, I did some changes in https://github.com/rl-institut/WAM_APP_stemp_abw/pull/88/commits/bb612dbeb11ed432272629ac06fb06d79b9cf707 and https://github.com/rl-institut/WAM_APP_stemp_abw/pull/88/commits/cc6f7dbf893bfe6324496e395619d81c0279ccb3 to fix this. Do you see another section in the code where this is needed. The approach I used is not optimal and should be refactored in the future.

[2019-09-13 07:09] nesnoj commented on #82
Thx!

[2019-09-13 07:09] #82 closed

[2019-09-13 08:07] nesnoj commented on #72
Looks good, thx!
The only remaining tasks are

Do you have an idea why this happens?

And the docs

[2019-09-13 08:23] nesnoj commented on #72
:+1:

[2019-09-13 14:13] nesnoj commented on #30
The API docs could be fixed in and lives at [feature/sphinx_apidocs](https://github.com/rl-institut/WAM_APP_stemp_abw/tree/feature/sphinx_apidocs), discussion see https://github.com/rl-institut/WAM/pull/82.

Reminder for me: Set [RTD requirement](https://github.com/rl-institut/WAM_APP_stemp_abw/blob/2fddc3f2db138f8271a91ad62b3fe1d9e59af6c5/doc/requirements.txt#L1) from feature to master branch aft

[2019-09-13 14:17] nesnoj commented on #2
Obsolete

[2019-09-13 14:17] #2 closed

[2019-09-13 14:19] nesnoj commented on #13
If there's no fast solution, please close this @4lm

[2019-09-13 14:24] nesnoj commented on #21
Works pretty well mit chromium engine (Chrome, Edge, ...) and only small drawbacks with FF (e.g. footer not collapsable).
But it would be good to have the warning message mentioned above. Will move to nice-to-have milestone.

[2019-09-13 14:25] nesnoj commented on #35
Nice-to-have

[2019-09-18 09:38] nesnoj commented on #72
@4lm **Urgent:**
I just deployed the app on WAMdev. When hitting "OK" after selecting a language, the redirect does not work correctly: I'm always redirected to the root (landing page) of the WAM instead of staying on the current page. There's a specific [order in which Django tries to redirect](https://django-book.readthedocs.io/en/latest/chapter19.html#the-set-language-redirect-view) when using

[2019-09-19 09:21] 4lm commented on #13
OK!

[2019-09-19 09:21] #13 closed

[2019-09-19 10:01] 4lm commented on #72
@nesnoj, I think I see the problem, will do fix a branch!

[2019-09-19 10:52] 4lm commented on #72
@nesnoj, I also can't locally reproduce this issue, can you test if this commit https://github.com/rl-institut/WAM_APP_stemp_abw/commit/2e4acba59c9f902801bc1b475af050277148fb08 on branch 'fix/broken-language-support` fixes the issue. The stemp_abw app now also uses 'de-DE' as language definition and in locale instead of just 'de'.

[2019-09-19 12:33] nesnoj commented on #72
Ok, will test now

[2019-09-19 12:37] 4lm commented on #72
@nesnoj, I added a language switch confirm, which is only active in the map view, but not on the start page https://github.com/rl-institut/WAM_APP_stemp_abw/commit/4d1d3fd6b8635d0f9d74f4f32a777697d1784cec. The code also has all commits from #93, so please review this pull request first. Will also do a pull request for this one.

Edit: Pull request for this one is #94

[2019-09-19 13:08] Bachibouzouk opened #95 "Fresh install does not work out of the box"
When following the steps for stemp_abw [installation](https://stemp-abw.readthedocs.io/en/dev/installation_and_setup.html#install-data-label), I get the following upon

`python manage.py runserver`

[code]

[2019-09-19 13:13] 4lm commented on #95
Hi @Bachibouzouk this is fixed on branch `feature/fixtures-install` https://github.com/rl-institut/WAM_APP_stemp_abw/tree/feature/fixtures-install but not yet merged into dev #77

[2019-09-19 13:14] Bachibouzouk commented on #95
Duplicate of #71

[2019-09-19 13:14] #95 closed

[2019-09-19 14:00] nesnoj commented on #72
Both merged and dev deployed on WAMdev
Still redirecting to WAM landing page... :(

[2019-09-19 14:09] 4lm commented on #72
Mhh, Ok, will have a look ...

[2019-09-19 14:29] nesnoj commented on #72
Locale Middleware [moved](https://github.com/rl-institut/WAM/commit/c84b787b62c7ac71b2a1e4e274234206df98e679) as you proposed.
Same result..

[2019-09-19 14:31] nesnoj commented on #72
Maybe it's something with the webserver - caddy behaves differently than Django's (gunicorn?)
May try to set a redirect target explicitly to avoid the fallback mentioned above..

[2019-09-19 15:25] nesnoj opened #96 "Add celery support"
Currently multiprocessing is used.
Add support for celery to smoothly integrate into WAM resource management. Take StEmp MV as blueprint.

Consider using both modules and select depending on environment (local -> mp, WAM -> celery).

[2019-09-19 15:27] 4lm commented on #72
@nesnoj, can you test if this commit https://github.com/rl-institut/WAM_APP_stemp_abw/commit/6e5f7c7c3fff5c5559c29807affe1e3195f84ebc fixes it, the code is on branch `fix/redirect-issue`: https://github.com/rl-institut/WAM_APP_stemp_abw/tree/fix/redirect-issue.

[2019-09-19 15:33] nesnoj commented on #72
Works out!! :tada: :tada: :tada: :rocket:

Can you crate a PR (just for the log)

[2019-09-19 15:50] nesnoj commented on #72
I'll do it
thx for this important fix

[2019-09-19 15:52] 4lm commented on #72
:tada: :tada: :tada: Cool :sunglasses:

[2019-09-19 15:53] 4lm commented on #72
Here comes the next PR, I fixed the accordion #97. This one was easy :wink:

[2019-09-19 16:20] nesnoj commented on #72
ooops

[2019-09-19 16:39] nesnoj commented on #72
@4lm Last remaining task: docs

[2019-09-20 08:57] nesnoj opened #100 "Use identifier to reference sources"
There's a problem with the source ids in meta app:

When I create sources locally, they get an auto id (postgres serial) in my local DB which can be equal to an existing (different) one in the WAM DB.
We reference sources by those ids ([example](https://github.com/rl-institut/WAM_APP_stemp_abw/blob/28150e5ad0e25e5a3c292f1bc6f1a3c8436b0782/locale/de/layers_region.cfg#L31)) which must be manually ch

[2019-09-20 08:57] nesnoj commented on #71
Reminder for me: Ship meta tables too as they contain the sources.

[2019-09-20 12:10] nesnoj commented on #30
I'll delete this branch as it is too unspecific (current doc state is now on dev). Doc improvements should be part of every feature branch, e.g. the fixture install instructions should be part of #77

[2019-09-23 12:57] nesnoj opened #102 "Obtain repowering potentials from DB table"
The wind repowering potentials are currently [hard-coded in `map_functions.js`](https://github.com/rl-institut/WAM_APP_stemp_abw/blob/5d29297be46ad8606612d2544076d9e570be33b8/static/stemp_abw/js/map_functions.js#L244-L285).
Obtain those values from DB table `stemp_abw_repotentialareas` instead!

[2019-09-26 09:27] nesnoj commented on #80
The screenshots on the landing page use the old logo.
@AnyaHe Could you please make new screenshots using the [current version on WAM](https://wam.rl-institut.de/) and replace the old ones [here](https://github.com/rl-institut/WAM_APP_stemp_abw/tree/fix/update_screenshots_on_landing_page/static/stemp_abw/img/tool)? (please use the brnch in this link)
(PNG, horizontal resolution: 1000px)

[2019-09-26 09:40] nesnoj commented on #80
Addition:
@AnyaHe, the [screenies in the docs](https://github.com/rl-institut/WAM_APP_stemp_abw/tree/fix/update_screenshots_on_landing_page/doc/files) are also affected, could you replace them too, please?

[2019-09-26 15:55] nesnoj commented on #72
Can u finish this one today too?

[2019-09-27 08:14] AnyaHe commented on #80
I replaced the screenshots on the landing page as described and the ones in the documentation as described in #84.

[2019-09-27 08:14] #80 closed

[2019-09-27 08:24] nesnoj commented on #80
Thx a lot @AnyaHe

[2019-10-07 00:02] nesnoj commented on #50
Done :rocket:

[2019-10-07 00:02] #50 closed

[2019-10-07 00:03] nesnoj commented on #81
done

[2019-10-07 00:03] #81 closed

[2019-10-07 00:04] #30 closed

[2019-10-07 00:04] #71 closed

[2019-10-07 00:04] #72 closed

[2019-10-07 00:06] nesnoj commented on #38
Currently on hold, might be implemented later, see branch `feature/layers-in-results`

[2020-02-21 08:50] nesnoj opened #106 "WEC feedin results incorrect on auto adjustment of capacity"
Reproduce:
- select "Freier Zubau" as repowering scn
- select 1500m distance to settlements (wind capacity in slider is set to 155 MW)
- view result chart

The auto adjusted value is not used as new capacity. Instead, the original value of 717 MW goes into sim. When the slider value of 155 MW is clicked (remains at the same position) the results are calculated properly.

[2020-02-21 14:39] #106 closed

[2020-04-03 15:42] nesnoj opened #108 "Fix potentials for ground-mounted PV"
In [v1.0.1](https://github.com/rl-institut/WAM_APP_stemp_abw/releases/tag/v1.0.1)
- PV potential area on arable and greenland is overestimated
- specific land use (2.5 ha/MWp) is overestimated for future scenarios
- overlapping areas are counted twice

[2020-04-06 13:55] #108 closed

[2020-07-24 09:25] #85 closed

[2020-07-24 09:27] nesnoj opened #111 "Add PostHog logging"
Pass events to PostHog server

[2020-07-27 07:33] nesnoj opened #112 "Hide function of logo footer is not working"
Tested with Chromium, Chrome and FF

[2020-10-30 17:20] nesnoj opened #113 "Background map not loaded"
Background map is not loaded due to limited number of tiles ([750k](https://www.mapbox.com/pricing/)) in the free account that can be loaded from mapbox. This limit is reached by now.

Options
1. Remove mapbox tiles
2. Create new account with another 750k tiles (would have to be done again in the future...)

To prevent future problems I'll go for 1 and set OSM as new default.

[2020-10-31 20:31] #113 closed

[2020-11-02 07:53] Bachibouzouk commented on #113
I agree with proposed solution

[2020-11-02 07:57] nesnoj commented on #113
Although the standard OSM tiles do not look as good as the mapbox ones, StEmp ABW now uses those ones for sake of a quick fix. If you have an open alternative which looks better, I'm interested too :).